* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerContenar {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.heaeritem {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.nav-link{
  text-decoration: none;
}

.heaeritem li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  width: 66px;
  height: 24px;
  color: black;
}

.heaeritem li:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: rgb(144, 141, 141);
}

.headericon {
  width: 32px;
  height: 32px;
  margin-left: 25px;
  color: black;
}

.headericon1 {
  width: 32px;
  height: 32px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}

.headericon2 {
  display: none;
  width: 32px;
  height: 32px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}

.headericoncontenar {
  display: flex;
}

.headersearch {
  background-color: #f5f5f5;
  border: 1px, solid, #f5f5f5;
  border-radius: 5px;
  width: 17rem;
  height: 40px;
  padding-left: 13px;
  padding-top: 4px;
}
.headersearch input {
  background-color: #f5f5f5;
  border: none;
  outline: none;
}

@media (max-width: 640px) {
  .heaeritem {
    display: none;
  }
  .headersearch {
    display: none;
  }

  .headericon2 {
    display: block;
  }

  .headerHeaing {
    margin-top: 10px;
  }

  .menuMobile ul {
    display: block;
  }

  .menuMobile {
    position: absolute;
    top: 4rem;
    width: 100%;
    background-color: rgb(86, 84, 84);
  }

  .menuMobile ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuMobile ul li {
    margin-bottom: 15px;
  }
}
